.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 598px;
    height: 825.6px;

    background: #ffffff;
    box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.05);
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    width: 80%;
    height: 80%;

    gap: 20px;
    box-shadow: 0px 19px 40px rgba(179, 37, 37, 0.05);
    border-radius: 20px;
}

.container > * {
    margin-bottom: 10px;
}

.BtnGeneral {
    box-shadow: 1.90278px 3.80556px 0px #000000;
    border-radius: 11.4167px;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: black;
    font-weight: bold;
}

.InputGeneral {
    width: 80%;
    max-width: 478px;
    height: 46px;
    background: rgba(174, 187, 253, 0.25);
    border-radius: 10px;
    border: none;
}

body {
    background-color: #c0cbff;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

html {
    height: 100%;
}
.containerTitle{
    width: 80%;
    display: inline-block;
}
.title{
    font-size: 30px;
    font-weight: bold;
    color: #8599ff;
}
.containerSubTitle{
    width: 80%;
    
}
.enum{
    font-size: 16px;
    font-weight: bold;
    color: #808080;
}
.subTitle{
    font-size: 35px;
    font-weight: bold;
    color: #8599ff;
}
.link{
    font-size: 16px;
    font-weight: bold;
    color: #8599ff;
    text-decoration: none;
}
.page{
   position: absolute;
   left: 50%;
}